.confirmed-booking-container {
  height: 650px;
  padding: 10px 25%;
  line-height: 1.5;
}

.confirmed-booking-title {
  font-family: "Markazi Text", sans-serif;
  font-size: 64pt;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

span {
  font-family: "Karla, sans-serif";
  font-size: 18pt;
  font-weight: 700;
}

.confirmed-booking-container p {
  font-family: "Karla, sans-serif";
  font-size: 16pt;
}

#reservation-confirmation {
  font-size: 24pt;
  font-weight: 400;
  margin-top: 50px;
}

button {
  background-color: #f4ce14;
  color: black;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 12pt;
  border-radius: 16px;
  width: 150px;
  padding: 10px;
  border: none;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 30px;
}

@media only screen and (min-width: 1921px) {
  .confirmed-booking-container {
    padding: 50px 30%;
    height: 1000px;
  }
}

@media only screen and (max-width: 1500px) {
  .confirmed-booking-container {
    padding: 50px 10%;
    height: auto;
  }
  .confirmed-booking-title {
    font-size: 48pt;
    line-height: 0.75;
  }

  #reservation-confirmation {
    line-height: 1.25;
    font-size: 18pt;
    text-align: center;
  }
}

@media only screen and (max-width: 280px) {
  .confirmed-booking-title {
    font-size: 40pt;
  }
}
