.page-container {
  height: 1000px;
  padding: 10px 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Markazi Text", sans-serif;
  font-size: 56pt;
  font-weight: 500;
  text-align: center;
  color: #495e57;
  margin: 50px 0;
}

.sub-title {
  font-family: "Markazi Text", sans-serif;
  font-size: 40pt;
  font-weight: 400;
  text-align: center;
  color: #495e57;
  margin-bottom: 50px;
}

.star-wars-img {
  border-radius: 16px;
  max-width: 100%;
}

@media only screen and (min-width: 1921px) {
  .page-container {
    padding: 10px 30%;
  }
}

@media only screen and (max-width: 1920px) {
  .page-container {
    height: 635px;
    line-height: 0.75;
  }

  .title {
    margin-top: 30px;
  }
}

/* For mobile and tablet screens */

@media only screen and (max-width: 1050px) {
  .page-container {
    padding: 0 10%;
    height: auto;
  }

  .title {
    font-size: 36pt;
  }

  .sub-title {
    font-size: 28pt;
  }

  .star-wars-img {
    margin-bottom: 50px;
  }
}
