.header-container {
  display: flex;
  background-color: #edefee;
  padding: 10px 25%;
  justify-content: space-between;
  align-items: center;
  color: black;
}

header img {
  height: 50px;
}

nav a {
  padding: 0 10px;
  text-decoration: none;
  color: inherit;
  font-family: "Markazi Text", sans-serif;
  font-size: 18pt;
  font-weight: 700;
}

/* Responsive styles for +1080p screens*/

@media only screen and (min-width: 1921px) {
  .header-container {
    padding: 10px 30%;
  }
}

/* Responsive styles for mobile screens */

@media only screen and (max-width: 550px) {
  .header-container {
    flex-direction: column;
    gap: 10px;
  }

  nav a {
    padding: 0 5px;
    font-size: 15pt;
  }
}

/* For tablets */

@media only screen and (min-width: 551px) and (max-width: 1050px) {
  .header-container {
    padding: 15px 5%;
  }

  nav a {
    padding: 0 5px;
  }
}

/* For Galaxy Fold */

@media only screen and (max-width: 280px) {
  nav a {
    font-size: 10pt;
  }
}
